@font-face{
	font-family: 'Cookie';
	src:url('fonts/Cookie-Regular.ttf');
}

@font-face{
	font-family: 'Kurale';
	src:url(fonts/Kurale-Regular.ttf);
}

@font-face{
	font-family: Raleway;
	src:url(fonts/Raleway-VariableFont_wght.ttf);
}